@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(30,117,184);
  background: linear-gradient(180deg, rgba(30,117,184,1) 0%, rgba(12,42,70,1) 100%);
}

#root {
  width: 100%;
  height: 100%;
}