@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@font-face {
    font-family: "Nebula";
    src: url(../font/NEBULA-REGULAR.woff2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}

.hamburger {
    display: none;
}

.context-menu {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: -37%;
    transition: all 0.3s;
    z-index: 10;
}

.options {
    padding: 2%;
}

.options a {
    text-decoration: none;
    margin: 0 10px;
    font-family: "Titillium Web";
    font-weight: 600;
    color: #00FFC3;
}

#image {
    width: 100%;
    height: 100vh;
    background-image: url(../images/venom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.content {
    width: 100%;
    color: #fff;
    margin-top: 10%;
}

.Lorem {
    font-family: "Nebula";
    font-size: 3vw;
    width: 60%;
    position: absolute;
    left: -100%;
    z-index: 4;
    text-align: center;
}

.Lorem p {
    font-family: "Titillium Web";
    text-align: left;
    font-size: 17px;
}

.Lorem h3 {
    text-align: left;
}

#notifications img {
    width: 20px;
}

#notifications {
    width: 20px;
    position: relative;
    left: -35%;
}

#notifications::after {
    content: attr(index);
    border-radius: 10px;
    width: 50%;
    height: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 70%;
    color: #fff;
    text-align: center;
}

#message-box {
    width: 10%;
    height: 25vh;
    border: 2px solid #22c09b;
    background-color: rgb(37, 37, 37);
    z-index: 12;
    border-radius: 5px;
    display: none;
    justify-content: center;
    font-family: "Titillium Web";
    color: #22c09b;
    font-weight: 600;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 15px 5px #000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

#message-box p {
    text-align: center;
}

#message-content-box {
    display: block;
    border: 2px solid #22c09b;
    height: 80%;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

.title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 60px;
    font-family: "Nebula";
    color: rgb(175, 175, 175);
    position: fixed;
    top: -100%;
    z-index: 12;
    transition: all 5s;
}

.nothing {
    color: rgb(134, 134, 134);
}

.shadow-in {
    -webkit-box-shadow: 5px 5px 5px 0px #00FFC3, inset 4px 4px 15px 0px #00FFC3, 5px 5px 47px 16px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #00FFC3, inset 4px 4px 15px 0px #00FFC3, 5px 5px 47px 16px rgba(0,0,0,0);
}

.about {
    display: none;
    border: 2px solid #00FFC3;
    border-radius: 5px;
    color: #fff;
    font-family: "Nebula";
    width: 15%;
    height: 150px;
    position: absolute;
    background-color: #333333;
    -webkit-box-shadow: 5px 5px 15px 5px #000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.about p {
    margin: 5px 0px 0px 10px;
}

.show-about-me {
    display: block;
    position: fixed;
    z-index: 12;
}

.content-box {
    width: 50%;
    position: absolute;
    top: 100%;
    left: 25%;
    z-index: 5;
    background-color: rgb(37, 37, 37);
}



/* ---------------------------------- ScrollBar ---------------------------------- */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



/* ---------------------------------- Animations ---------------------------------- */

.options a:hover {
    color: #22c09b;
}

.seller-box:hover{
    background-color: #00ffc349;
}