@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.box {
    position: relative;
    width: 29.8%;
    min-height: 63vh;
    background-color: #1c1c1c;
    border-radius: 8px;
}

.box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 63vh;
    background: linear-gradient(0deg, transparent, #9332a8, #401f47);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 63vh;
    background: linear-gradient(0deg, transparent, #9332a8, #401f47);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #28292d;
    z-index: 10;
    padding: 13% 10%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: None;
    font-weight: 600;
    color: #9332a8;
    transition: all 0.5s;
}

a:hover {
    font-size: 20px;
    color: #efefef;
}




