@media screen and (max-width: 1300px) {
    .options {
        display: flex;
        flex-direction: column;
        text-align: right;
        position: absolute;
        top: 90px;
        right: -100%;
        border-radius: 5px;
        transition: all 0.5s;
    }

    .options a {
        padding-bottom: 10%;
    }

    .toggle-menu {
        right: 0;
    }

    .hamburger {
        display: block;
        width: 20px;
        margin-right: 3%;
        border: 2px solid rgb(29, 28, 28);
        padding: 0px 5px;
        border-radius: 5px;
    }

    .hamburger a {
        text-decoration: none;
    }

    .hamburger a p {
        color: rgb(90, 89, 89);
        background-color: #fff;
        height: 2px;
        width: 100%;
        margin: 5px 0px;
        border-radius: 5px;
    }

    #notifications {
        left: -3%;
        margin-left: 20px;
    }

    #notifications::after {
        width: 12px;
        height: 12px;
        text-align: center;
        font-size: 10px;
    }

    #message-box {
        width: 200px;
    }

    #title {
        font-size: 60px;
    }

    .Lorem {
        font-size: 20px;
    }

    .content {
        margin-top: 20vh;
    }

    .query-about {
        display: block;
        top: 85px;
        left: 0;
    }

    #message-box {
        height: 250px;
    }

    .about {
        width: 150px;
        z-index: 12;
        position: fixed;
        -webkit-box-shadow: 5px 5px 15px 5px #000; 
        box-shadow: 5px 5px 15px 5px #000000;
    }
}



@media only screen and (max-width: 1000px) {
    #title {
        margin-top: 15px;
        font-size: 5vw;
    }

    .content {
        margin-top: 20vh;
    }

    .options {
        background-color: rgb(37, 37, 37);
        border: 2px solid #00FFC3;
        -webkit-box-shadow: 5px 5px 15px 5px #000; 
        box-shadow: 5px 5px 15px 5px #000000;
    }
}