@media only screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: 100px;
    }

    .options {
        display: none;
        position: fixed;
        width: 300px;
        top: 0px;
        left: 0px;
    }

    .show-options {
        display: block;
        top: 0px;
        left: 0px;
        transition: all 5s ease-in;
    }

    .options ul {
        display: block;
        text-align: left;
        background-color: rgb(51, 51, 51);
    }

    li {
        padding: 10px 0px;
    }

    button img {
        width: 18vw;
    }

    .notification a img {
        width: 6vw;
    }

    .notification::after {
        width: 2.5vw;
        height: auto;
        font-size: 2vw;
    }

    .message-box {
        height: 80%;
    }

    span {
        font-size: 2vw;
    }

    #hamburger div {
        background-color: #fff;
        margin: 10px;
        width: 30px;
        height: 2px;
    }
}