$color-primary: #1e75b8;
$color-secondary: #0c2a46;
$color-text-primary: #ffffff;
$color-text-secondary: #9ca3af;
$color-accent: #42b2ff;
$color-background: #13171c;
$color-background-secondary: lighten($color-background, 5%);

$color-gray-600: #4b5563;
$color-gray-700: #374151;

$color-error: #fd3a3a;